img {
    width: 200px;
}
.image1 {
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.image2 {
    height: 100px;
    width: 100px;
    object-position: center;
    margin-right: 30px;
}
.image3 {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-position: center;
}