footer {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 20px;
    background-color: azure;
    width: 100%;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    width: 100%;
    margin-top: 2px;

}

.header,.left,.right{
    justify-content: space-between;
}