.names, .email {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
}

.email {
    display: block;
    /* padding-right: 178px; */
    width: 340px;
}

.action {
    background-color: rgb(6,120,186);
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 350px;
}
.spacer {
    margin-bottom: 100px;
}
.request {
    font-family: arial;
    font-size: 40px;
}
.loc, .desti {
    display: block;
    border: none;
    background-color: rgba(0,0,0,0.1);
    width: 335px;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 5px;
}

.desti{
    margin-bottom: 35px;
}
.req {
    width: 105px;
    height: 55px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
}

.schedule {
    width: 215px;
    height: 55px;
    margin-left: 18px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    cursor: pointer;
}