.name {
    display: block;
    margin-bottom: 4px;
}
.email {
    margin-bottom: 50px;
}
.chat {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}
.logo {
    display: block;
    cursor: pointer;
}
.search3 {
    appearance: auto;
    background-color: white;
    border-bottom-color: black;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: black;
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: black;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: black;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;

    color: rgb(0, 0, 0);
    cursor: text;
    display: inline-block;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variation-settings: normal;
    font-weight: 400;
    height: 43.9931px;
    letter-spacing: normal;
    line-height: normal;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    padding-inline-end: 87px;
    padding-inline-start: 52px;
    position: relative;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    width: 560.995px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    z-index: 100;
    box-shadow: 4px 3px 4px rgba(0,0,0,.5);
    margin-bottom: 20px;
}