div {
    font-family: arial;
}

.thumbnails {
    width: 300px;
    display: block;
}
.search {
    font-size: 15px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    color: rgba(0,0,0,0.4);
    display: block;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    
}

.channelpic {
    display: inline-block;
    width: 50px;
}

.channelthumb {
    width: 50px;
}

.videoinfo {
    display: inline-block;
    width: 200px;
}

.videothumb {
    margin-bottom: 10px;
}