
p {
    font-family: Roboto, Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
.thumbnails {
    width: 300px;
    display: block;
    border-radius: 4px;
}

.search {
    font-size: 15px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    color: rgba(0,0,0,0.4);
    display: block;
}

.video-preview {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channelpic {
    vertical-align: top;
    margin-right: 5px;
}

.channelthumb {
    width: 40px;
    border-radius: 25px;
}

.videoinfo {
    display: inline-block;
    width: 200px;
}

.videothumb {
    margin-bottom: 10px;
}

.video-title {
    width: 100%;
    font-weight: bold;
    margin-top: 0px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-author, .video-stats {
    font-size: 12px;
    color: rgb(96,96,96);
}

.video-author {
    margin-bottom: 6px;
}